@import '../../../../styles/settings.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: $color-error;
  font-size: 1.2rem;
  font-weight: 700;
  color: $color-light;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}