@import '../../../styles/settings.scss';

.title {
  font-size: 20px;
  font-weight: 500;
  margin: 32px 0 0 20px;
  padding: 10px;
}

.prodList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}