$font-text: 'Rubik', sans-serif;

$color-primary: #4f6d7a;
$color-secondary: #8AE7DC;
$color-tertiary: #e8dab2; 
$color-light: #ffffff;
$color-white: #F5F5F5;
$color-black: #212121;
$color-grey: #9e9e9e;

$color-success: #4CAF50;
$color-error: #F44336;
$color-loading: #FFC107;